<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="/login.css" />
    <link
      rel="shortcut icon"
      href="/images/ShelterConnect.png"
      type="image/x-icon"
    />
  </head>
  <body>
    <header>
      <div class="logo">
        <h2>
          Shelter Connect
          <img src="/images/ShelterConnect.png" alt="Shelter Connect Logo" />
        </h2>
      </div>
    </header>

    <div class="login-container">
      <h1>Login</h1>
      <% if (error) { %>
      <div class="error-message" id="error-box"><%= error %></div>
      <% } %>
      <form action="/login" method="POST">
        <div class="form-group">
          <label for="email">Email:</label>
          <input
            type="email"
            id="email"
            name="email"
            placeholder="Email"
            required
          />
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input
            type="password"
            id="password"
            name="password"
            placeholder="Password"
            required
          />
        </div>
        <button type="submit" class="button">Login</button>
      </form>
    </div>
    <script>
      const errorBox = document.getElementById("error-box");
      if (errorBox) {
        errorBox.style.display = "block";
        setTimeout(() => {
          errorBox.style.display = "none";
        }, 5000);
      }
    </script>
  </body>
</html>
